.main-content {
  width: 80%;
  margin: auto;
  display: flex;
  border-bottom: 2px solid $color-grey-primary-light;
  padding-bottom: 3rem;

  section.venue {
    flex: 0 0 60%;
    margin-right: 4.5rem;
    position: relative;

    h3 {
      font-family: "Gotham-xLight";
      text-align: center;
      font-size: 3rem;
      margin: 4rem;
    }
  }

  .sidebar-wrapper {
    flex: 1;
  }
}

// Responsiveness

@include respond(tab-port) {
  .header-container {
    height: 250px !important;
  }

  .header-container {
    .header-content {
      flex-direction: column;
      .home-logo {
        margin: auto;
        margin-bottom: 1rem !important;
      }
      .search-container {
        margin-top: 1rem !important;
        form {
          margin: auto;
        }
      }
    }
  }

  .main-content {
    flex-direction: column;

    section.venue {
      margin-right: 0;
    }
  }
}

@include respond(phone) {
  .header-container {
    height: 320px !important;
  }
  .main-content {
    section.venue {
      margin-bottom: 2rem;
      margin-right: 0 !important;
    }

    .venue-list,
    .imageList {
      flex-direction: column;

      &__item {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@include respond(small-phone) {
}
