.sidebar-wrapper {
  position: relative;
  top: -100px;
  z-index: 99999;
  margin-bottom: -5rem;
}

//Responsiveness

@include respond(tab-port) {
  .sidebar-wrapper {
    top: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
@include respond(phone) {
  .venue-detail-header {
    h2.venue-name {
      font-size: 3rem !important;
    }
    .home-logo {
      width: 20rem !important;
      .category-icon-wrapper { 
        padding: 2rem!important;
        top: 53px!important;
        left: -41px!important;
      }
      .category-icon {
        width: 6rem;
      }
    }
  }
  
  .rating {
    width: 5rem !important;
    height: 5rem !important;
    .rating-text {
      font-size: 1.5rem !important;
    }
  }
}

@include respond(small-phone) {
  .category-icon-wrapper {
    top: 65px !important;
    left: -14px !important;
    .category-icon {
      width: 4rem !important;
    }
  }
}