.sidebar {
  flex: 1;
  box-shadow: 0 0 3.4rem 0 rgba(255, 95, 95, 0.32);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 68.5rem;
  background: $color-white;

  h3 {
    font-size: 1.6rem;
    color: #4a4a4a;
    padding: 4rem 0 3rem 0;
    position: relative;
    text-transform: uppercase;

    &::before {
      content: "";
      width: 7rem;
      height: 2px;
      background: $color-line;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }
  }

  &__list {
    width: 100%;
    margin-top: 1.5rem;
    list-style: none;
    text-align: center;
  }

  &__listItem {
    display: block;
    width: 95%;
    margin: auto;
    padding: 2rem;

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-primary-light;
    }
  }

  &__listItemLink {
    text-decoration: none;
    font-size: 1.4rem;
    color: $color-grey-primary;
    transition: all .3s;

    &:hover {
      color: $color-grey-primary-dark;
      border-bottom: 1px solid $color-grey-primary-dark;
    }

    .left {
      width: 40px;
      height: 40px;
      margin-right: 3rem;
      transform: rotate(-45deg);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .right {
      text-align: left;
      font-size: 1.4rem;

      h4 {
        margin-bottom: .5rem;
      }

      p {
        font-family: "Gotham-Light"; 
      }
    }
  }
}

.tips-sidebar {
  height: auto!important;
  box-shadow: 0 0 3.4rem 0 rgba(115, 95, 255, 0.32);

  .sidebar__listItem {
    padding: 3rem 2rem!important;

    &:last-child {
      border-bottom: 1px solid $color-grey-primary-light!important;
    }
  }

  .sidebar__listItemLink {
    display: flex;
    justify-content: center;

    &:hover {
      border-bottom: none!important;
    }
  }

  .allTips {
    margin: 5rem 0;
    font-size: 1.6rem;
    color: #7a74d2;
    transition: all .3s;

    &:hover {
      color: $color-blue-dark;
      transform: scale(1.05);
    }
  }
  
}