.imageList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    flex: 0 0 48%; // background: #12195f;
    // opacity: .5;
    margin-bottom: 4%;
    height: 30rem;
    width: 100%;
    position: relative;
  }

  &__itemLink {
    color: $color-white;
    text-decoration: none;
  }

  &__itemLink:hover &__cover {
    visibility: visible;
    opacity: 1;
  }

  &__itemLink:hover .userbox {

  }

  &__image {
    max-width: 100%;
    height: 100%;
  }

  &__cover {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 25, 95, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;

    .userBox {
      
      .userImage {
        width: 4rem;
        height: 4rem;
        margin: auto;
        transform: rotate(45deg);
        border: 2px solid #000;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transform: rotate(-45deg);
        }
      }

      h4.username {
        font-size: 1.4rem;
        margin-top: 1.5rem;
      }
    }
  }
}