$color-grey-primary: #9b9b9b;
$color-grey-primary-light: #e4e4e4;
$color-grey-primary-dark: #333333;
$color-white: #fff;
$btn-color: #Ff5f5f;
$btn-color-hover: #D22015;
$color-blue-dark: #1e0db4;
$color-orange-dark: #e44747;
$color-line: #c4c0ff;