.u-margin-bottom-l {
  margin-bottom: 8rem; }

.u-margin-bottom-m {
  margin-bottom: 5rem; }

.u-margin-bottom-s {
  margin-bottom: 1rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@font-face {
  font-family: "Gotham-Bold";
  src: url("/fonts/Gotham-Bold/Gotham-Bold.eot");
  src: url("/fonts/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Gotham-Bold/Gotham-Bold.woff") format("woff"), url("/fonts/Gotham-Bold/Gotham-Bold.ttf") format("truetype"), url("/fonts/Gotham-Bold/Gotham-Bold.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham-Regular";
  src: url("/fonts/Gotham-Book/Gotham-Book.eot");
  src: url("/fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("/fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("/fonts/Gotham-Book/Gotham-Book.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham-Light";
  src: url("/fonts/Gotham-Light/Gotham-Light.eot");
  src: url("/fonts/Gotham-Light/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Gotham-Light/Gotham-Light.woff") format("woff"), url("/fonts/Gotham-Light/Gotham-Light.ttf") format("truetype"), url("/fonts/Gotham-Light/Gotham-Light.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham-Thin";
  src: url("/fonts/Gotham-Thin/Gotham-Thin.eot");
  src: url("/fonts/Gotham-Thin/Gotham-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Gotham-Thin/Gotham-Thin.woff") format("woff"), url("/fonts/Gotham-Thin/Gotham-Thin.ttf") format("truetype"), url("/fonts/Gotham-Thin/Gotham-Thin.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham-xLight";
  src: url("/fonts/Gotham-ExtraLight/Gotham-ExtraLight.eot");
  src: url("/fonts/Gotham-ExtraLight/Gotham-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Gotham-ExtraLight/Gotham-ExtraLight.woff") format("woff"), url("/fonts/Gotham-ExtraLight/Gotham-ExtraLight.ttf") format("truetype"), url("/fonts/Gotham-ExtraLight/Gotham-ExtraLight.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Gotham-Regular";
  color: #9b9b9b; }

.u-margin-bottom-l {
  margin-bottom: 8rem; }

.u-margin-bottom-m {
  margin-bottom: 5rem; }

.u-margin-bottom-s {
  margin-bottom: 1rem; }

.pageContainer {
  background-image: url("/image/background.jpg");
  height: 90vh;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .pageContainer main.content {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pageContainer main.content h2.main-text {
      font-size: 4.5rem;
      font-family: "Gotham-xLight";
      font-weight: inherit; }
    .pageContainer main.content span.secondary-text {
      font-size: 1.3rem;
      text-align: center;
      line-height: 1.6;
      font-family: "Gotham-Light"; }

.main-content {
  width: 80%;
  margin: auto;
  display: flex; }

.home-logo {
  width: 250px; }
  .home-logo__image {
    width: 100%;
    margin: auto; }

.header-container {
  width: 100%;
  height: 150px;
  opacity: 0.8;
  background-image: linear-gradient(97deg, #1e0db4, #e44747);
  background-size: cover; }
  .header-container .header-content {
    width: 80%;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: space-between; }
  .header-container .search-container {
    margin-top: 5rem; }

.footer {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer__list {
    list-style: none; }
  .footer__listItem {
    display: inline-block; }
    .footer__listItem:not(:last-child) {
      margin-right: 4rem; }
  .footer__itemLink {
    text-decoration: none;
    color: #9b9b9b;
    font-size: 1.3rem;
    transition: all .2s ease-in; }
    .footer__itemLink:hover {
      border-bottom: 1px solid #333333;
      color: #333333; }

form {
  display: flex;
  justify-content: space-between;
  width: 47.5rem; }
  form input {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    color: #333333;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4); }
    form input:active, form input:hover, form input:focus {
      outline: none !important; }
  form input.place {
    flex: 0 0 50%; }
  form button {
    border: none;
    background: #Ff5f5f;
    border-radius: 3px;
    padding: 1rem 1.6rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s; }
    form button img {
      width: 2.5rem; }
    form button:hover {
      background: #D22015; }

.sidebar {
  flex: 1;
  box-shadow: 0 0 3.4rem 0 rgba(255, 95, 95, 0.32);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .sidebar h3 {
    font-size: 1.6rem;
    color: #4a4a4a;
    padding: 4rem 0 3rem 0;
    position: relative;
    text-transform: uppercase; }
    .sidebar h3::before {
      content: "";
      width: 7rem;
      height: 2px;
      background: #c4c0ff;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10; }
  .sidebar__list {
    width: 100%;
    margin-top: 1.5rem;
    list-style: none;
    text-align: center; }
  .sidebar__listItem {
    display: block;
    border-bottom: 1px solid #e4e4e4;
    width: 95%;
    margin: auto;
    padding: 2rem; }
  .sidebar__listItemLink {
    text-decoration: none;
    font-size: 1.4rem;
    color: #9b9b9b;
    transition: all .3s; }
    .sidebar__listItemLink:hover {
      color: #333333; }

/*# sourceMappingURL=index.css.map */
