.u-margin-bottom-l {
  margin-bottom: 8rem !important; }

.u-margin-bottom-m {
  margin-bottom: 5rem !important; }

.u-margin-bottom-s {
  margin-bottom: 1rem !important; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@font-face {
  font-family: "Gotham-Bold";
  src: url("/fonts/Gotham-Bold/Gotham-Bold.eot");
  src: url("/fonts/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Gotham-Bold/Gotham-Bold.woff") format("woff"), url("/fonts/Gotham-Bold/Gotham-Bold.ttf") format("truetype"), url("/fonts/Gotham-Bold/Gotham-Bold.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham-Regular";
  src: url("/fonts/Gotham-Book/Gotham-Book.eot");
  src: url("/fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("/fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("/fonts/Gotham-Book/Gotham-Book.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham-Light";
  src: url("/fonts/Gotham-Light/Gotham-Light.eot");
  src: url("/fonts/Gotham-Light/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Gotham-Light/Gotham-Light.woff") format("woff"), url("/fonts/Gotham-Light/Gotham-Light.ttf") format("truetype"), url("/fonts/Gotham-Light/Gotham-Light.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham-Thin";
  src: url("/fonts/Gotham-Thin/Gotham-Thin.eot");
  src: url("/fonts/Gotham-Thin/Gotham-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Gotham-Thin/Gotham-Thin.woff") format("woff"), url("/fonts/Gotham-Thin/Gotham-Thin.ttf") format("truetype"), url("/fonts/Gotham-Thin/Gotham-Thin.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham-xLight";
  src: url("/fonts/Gotham-ExtraLight/Gotham-ExtraLight.eot");
  src: url("/fonts/Gotham-ExtraLight/Gotham-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Gotham-ExtraLight/Gotham-ExtraLight.woff") format("woff"), url("/fonts/Gotham-ExtraLight/Gotham-ExtraLight.ttf") format("truetype"), url("/fonts/Gotham-ExtraLight/Gotham-ExtraLight.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Gotham-Regular";
  color: #9b9b9b;
  overflow-x: hidden; }

.u-margin-bottom-l {
  margin-bottom: 8rem !important; }

.u-margin-bottom-m {
  margin-bottom: 5rem !important; }

.u-margin-bottom-s {
  margin-bottom: 1rem !important; }

.pageContainer {
  background-image: url("/image/background.jpg");
  height: 90vh;
  min-height: 62rem;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .pageContainer main.content {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pageContainer main.content h2.main-text {
      font-size: 4.5rem;
      font-family: "Gotham-xLight";
      font-weight: inherit; }
    .pageContainer main.content span.secondary-text {
      font-size: 1.3rem;
      text-align: center;
      line-height: 1.6;
      font-family: "Gotham-Light"; }

@media only screen and (max-width: 23.5em) {
  .pageContainer main.content .secondary-text {
    margin-bottom: 2rem !important; } }
@media only screen and (max-width: 75em) {
  .pageContainer main.content {
    width: 90%;
    justify-content: center; }
    .pageContainer main.content form {
      margin-bottom: 5rem !important; } }
.main-content {
  width: 80%;
  margin: auto;
  display: flex;
  border-bottom: 2px solid #e4e4e4;
  padding-bottom: 3rem; }
  .main-content section.venue {
    flex: 0 0 60%;
    margin-right: 4.5rem; }
  .main-content .sidebar-wrapper {
    flex: 1; }

@media only screen and (max-width: 56.25em) {
  .header-container {
    height: 320px !important; } }
@media only screen and (max-width: 75em) {
  .header-container .header-content {
    flex-direction: column; }
    .header-container .header-content .home-logo {
      margin: auto;
      margin-bottom: 1rem !important; }
    .header-container .header-content .search-container {
      margin-top: 1rem !important; }
      .header-container .header-content .search-container form {
        margin: auto; }

  .main-content {
    flex-direction: column; }
    .main-content section.venue {
      flex: 1;
      margin-right: 0; } }
@media only screen and (max-width: 37.5em) {
  .main-content section.venue {
    margin-bottom: 2rem; }
  .main-content .venue-list,
  .main-content .imageList {
    flex-direction: column; }
    .main-content .venue-list__item,
    .main-content .imageList__item {
      flex: 1; }

  .venue-list__item {
    height: 25rem !important; } }
@media only screen and (max-width: 23.5em) {
  .venue-list__item {
    height: 20rem !important; } }
.sidebar-wrapper {
  position: relative;
  top: -100px;
  z-index: 99999;
  margin-bottom: -5rem; }

@media only screen and (max-width: 75em) {
  .sidebar-wrapper {
    top: 0;
    margin-top: 1rem;
    margin-bottom: 2rem; } }
@media only screen and (max-width: 56.25em) {
  .sidebar-wrapper {
    top: 0;
    margin-top: 1rem;
    margin-bottom: 2rem; }

  .imageList__item {
    height: 25rem !important; } }
@media only screen and (max-width: 37.5em) {
  .venue-detail-header h2.venue-name {
    font-size: 3rem !important; }
  .venue-detail-header .home-logo {
    width: 20rem !important; }
    .venue-detail-header .home-logo .category-icon {
      top: 44px !important;
      left: -40px !important;
      width: 13rem !important; }

  .rating {
    width: 5rem !important;
    height: 5rem !important; }
    .rating .rating-text {
      font-size: 1.5rem !important; } }
@media only screen and (max-width: 23.5em) {
  .imageList__item {
    height: 20rem !important; } }
.home-logo {
  width: 250px; }
  .home-logo__image {
    width: 100%;
    margin: auto; }

.header-container {
  width: 100%;
  height: 150px;
  opacity: 0.8;
  background-image: linear-gradient(97deg, #1e0db4, #e44747);
  background-size: cover; }
  .header-container .header-content {
    width: 80%;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: space-between; }
  .header-container .search-container {
    margin-top: 5rem; }

.venue-detail-header {
  background: url("/image/background.jpg");
  background-size: cover; }
  .venue-detail-header .header-top-content {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem; }
    .venue-detail-header .header-top-content .home-logo {
      width: 40rem;
      margin: auto;
      position: relative;
      margin-bottom: 15rem; }
      .venue-detail-header .header-top-content .home-logo .category-icon {
        position: absolute;
        top: 85px;
        left: -65px; }
    .venue-detail-header .header-top-content h2.venue-name {
      font-family: "Gotham-xLight";
      font-size: 6rem;
      color: #fff; }
  .venue-detail-header .venue-info-section {
    width: 100%;
    background-image: linear-gradient(95deg, rgba(30, 13, 180, 0.8), rgba(228, 71, 71, 0.7));
    padding: 2.5rem 0;
    color: #fff; }
    .venue-detail-header .venue-info-section .venue-info-content {
      width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem; }
      .venue-detail-header .venue-info-section .venue-info-content .left-side > div:not(:last-child) {
        margin-bottom: 1.5rem; }
      .venue-detail-header .venue-info-section .venue-info-content .left-side .venue-userInfo {
        display: flex; }
        .venue-detail-header .venue-info-section .venue-info-content .left-side .venue-userInfo .user {
          margin-right: 3rem; }
        .venue-detail-header .venue-info-section .venue-info-content .left-side .venue-userInfo .tag {
          display: flex;
          align-items: center; }
          .venue-detail-header .venue-info-section .venue-info-content .left-side .venue-userInfo .tag img {
            width: 1rem;
            height: 1rem; }
          .venue-detail-header .venue-info-section .venue-info-content .left-side .venue-userInfo .tag .bar {
            width: 6rem;
            height: 3px;
            background: #000; }
            .venue-detail-header .venue-info-section .venue-info-content .left-side .venue-userInfo .tag .bar .percentage {
              width: 80%;
              height: 3px;
              background: linear-gradient(to right bottom, #c4c0ff, #a59fee, #8b81ff, #1e0db4); }
      .venue-detail-header .venue-info-section .venue-info-content .right-side {
        margin-top: -120px; }
        .venue-detail-header .venue-info-section .venue-info-content .right-side .rating {
          width: 6.5rem;
          height: 6.5rem;
          position: relative;
          transform: rotate(-45deg);
          background: #776cee; }
          .venue-detail-header .venue-info-section .venue-info-content .right-side .rating .rating-text {
            font-family: "Gotham-Light";
            font-size: 2rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(45deg); }
      .venue-detail-header .venue-info-section .venue-info-content img {
        width: 1rem;
        margin-right: .8rem; }

.footer {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer__list {
    list-style: none; }
  .footer__listItem {
    display: inline-block; }
    .footer__listItem:not(:last-child) {
      margin-right: 4rem; }
  .footer__itemLink {
    text-decoration: none;
    color: #9b9b9b;
    font-size: 1.3rem;
    transition: all .2s ease-in; }
    .footer__itemLink:hover {
      border-bottom: 1px solid #333333;
      color: #333333; }

form {
  display: flex;
  justify-content: space-between;
  width: 47.5rem; }
  form input {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    color: #333333;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4); }
    form input:active, form input:hover, form input:focus {
      outline: none !important; }
  form input.place {
    flex: 0 0 50%; }
  form button {
    border: none;
    background: #Ff5f5f;
    border-radius: 3px;
    padding: 1rem 1.6rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s; }
    form button img {
      width: 2.5rem; }
    form button:hover {
      background: #D22015; }

@media only screen and (max-width: 37.5em) {
  form {
    flex-direction: column;
    width: 90%; }
    form input {
      margin-bottom: 1rem; } }
.sidebar {
  flex: 1;
  box-shadow: 0 0 3.4rem 0 rgba(255, 95, 95, 0.32);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 68.5rem;
  background: #fff; }
  .sidebar h3 {
    font-size: 1.6rem;
    color: #4a4a4a;
    padding: 4rem 0 3rem 0;
    position: relative;
    text-transform: uppercase; }
    .sidebar h3::before {
      content: "";
      width: 7rem;
      height: 2px;
      background: #c4c0ff;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10; }
  .sidebar__list {
    width: 100%;
    margin-top: 1.5rem;
    list-style: none;
    text-align: center; }
  .sidebar__listItem {
    display: block;
    width: 95%;
    margin: auto;
    padding: 2rem; }
    .sidebar__listItem:not(:last-child) {
      border-bottom: 1px solid #e4e4e4; }
  .sidebar__listItemLink {
    text-decoration: none;
    font-size: 1.4rem;
    color: #9b9b9b;
    transition: all .3s; }
    .sidebar__listItemLink:hover {
      color: #333333;
      border-bottom: 1px solid #333333; }
    .sidebar__listItemLink .left {
      width: 40px;
      height: 40px;
      margin-right: 3rem;
      transform: rotate(-45deg); }
      .sidebar__listItemLink .left img {
        width: 100%;
        height: 100%; }
    .sidebar__listItemLink .right {
      text-align: left;
      font-size: 1.4rem; }
      .sidebar__listItemLink .right h4 {
        margin-bottom: .5rem; }
      .sidebar__listItemLink .right p {
        font-family: "Gotham-Light"; }

.tips-sidebar {
  height: auto !important;
  box-shadow: 0 0 3.4rem 0 rgba(115, 95, 255, 0.32); }
  .tips-sidebar .sidebar__listItem {
    padding: 3rem 2rem !important; }
    .tips-sidebar .sidebar__listItem:last-child {
      border-bottom: 1px solid #e4e4e4 !important; }
  .tips-sidebar .sidebar__listItemLink {
    display: flex;
    justify-content: center; }
    .tips-sidebar .sidebar__listItemLink:hover {
      border-bottom: none !important; }
  .tips-sidebar .allTips {
    margin: 5rem 0;
    font-size: 1.6rem;
    color: #7a74d2;
    transition: all .3s; }
    .tips-sidebar .allTips:hover {
      color: #1e0db4;
      transform: scale(1.05); }

.venue-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .venue-list__item {
    flex: 0 0 48%;
    margin-bottom: 4%;
    height: 30rem;
    width: 100%;
    position: relative; }
  .venue-list__item {
    overflow: hidden; }
  .venue-list__itemLink {
    color: #fff;
    text-decoration: none; }
  .venue-list__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #12195f; }
  .venue-list__image {
    max-width: 100%;
    height: 100%; }
  .venue-list__onTopData {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    width: 100%; }
  .venue-list__venue-name {
    position: relative;
    padding-bottom: 1rem;
    font-size: 2.5rem;
    font-family: "Gotham-xLight";
    margin-bottom: 1.8rem; }
    .venue-list__venue-name::before {
      content: "";
      width: 4.8rem;
      height: 2px;
      background: #c4c0ff;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 20; }
  .venue-list__venueInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem; }
    .venue-list__venueInfo > div {
      display: flex;
      align-items: center; }
    .venue-list__venueInfo .left img {
      width: 1rem;
      height: 1rem;
      margin-right: .8rem; }
    .venue-list__venueInfo .right .bar {
      width: 6rem;
      height: 3px;
      background: #000; }
      .venue-list__venueInfo .right .bar .percentage {
        width: 80%;
        height: 3px;
        background: linear-gradient(to right bottom, #c4c0ff, #a59fee, #8b81ff, #1e0db4); }
  .venue-list__userWrapper, .venue-list__tagWrapper {
    flex: 0 0 25%; }
  .venue-list__ratingWrapper {
    flex: 1;
    position: relative; }
    .venue-list__ratingWrapper img {
      position: absolute;
      top: -1.8rem;
      right: -2rem;
      width: 9rem; }
    .venue-list__ratingWrapper .rating-text {
      position: absolute;
      right: 1.4rem;
      top: 4px;
      font-size: 1.5rem; }

.imageList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .imageList__item {
    flex: 0 0 48%;
    margin-bottom: 4%;
    height: 30rem;
    width: 100%;
    position: relative; }
  .imageList__itemLink {
    color: #fff;
    text-decoration: none; }
  .imageList__itemLink:hover .imageList__cover {
    visibility: visible;
    opacity: 1; }
  .imageList__image {
    max-width: 100%;
    height: 100%; }
  .imageList__cover {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 25, 95, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s; }
    .imageList__cover .userBox .userImage {
      width: 4rem;
      height: 4rem;
      margin: auto;
      transform: rotate(45deg);
      border: 2px solid #000;
      overflow: hidden; }
      .imageList__cover .userBox .userImage img {
        width: 100%;
        height: 100%;
        transform: rotate(-45deg); }
    .imageList__cover .userBox h4.username {
      font-size: 1.4rem;
      margin-top: 1.5rem; }

/*# sourceMappingURL=index.css.map */
